{% extends 'AppCoder/padre.html' %}
{% load static %}
{% block contenidoQueCambia %}


<div>
    <img src="{%static 'AppCoder/images/Agus.jpg'%}">
    <h1>Agustin Sanchez</h1>   
    <p>Buenos Aires, Argentina<br>Recepcionista con titulo de despachante aduanero<br><p>
</div>

<div>
    <img src="{%static 'AppCoder/images/Gaby.jpg'%}">
    <h1>Gabriel Salazar </h1>   
    <h6>Argentina, BS.AS</h6>
    <p>Actualmente en 2do anio de Ing en informatica, UADE. </p>
    
</div>

<div>
    <img src="{%static 'AppCoder/images/Jessy.png'%}">
    <h1>Jessica Nava</h1>   
    <h6>Jalisco, México</h6>
    <p>Ing. en Comunicaciones y Electrónica.<br>Egresada de la Universidad de Guadalajara.<br>Durante la realización del proyecto trabaje en la realización del menú about, blog y asignación de avatar.<p>
    </div>
</div>

{% endblock %}
