{% extends 'AppCoder/padre.html' %}
{% load static %}
{% block contenidoQueCambia %}

<div>
    <h1>Inicio</h1>
    <h3> Momentaneamente solo disponemos la revision de turnos para PERROS:  </h3> 
</div>
<form action="/AppCoder/buscar/" method="GET">

    <input type="number" name="camada" id="camada">

    <input type="submit" value="Buscar">

</form>
    {% if nombre %}

    <p>Estamos buscando el: {{name}}</p>

    <ul>
    {% for nombres in nombre %}
        <li> {{nombres.nombre}} </li>
        
    {% endfor %}

    </ul>

    {% endif %}



{% endblock  %}


